Django<1.10
Pillow
bpython
django-extensions<1.7.6
django-filter
django-flat-theme
django-redis
djangorestframework<3.4
gunicorn
ipython
opbeat
pandas
psycopg2==2.6
pytest-django==2.8.0
pytest==2.6.3
python-dateutil
pytz
django-dbbackup
