Django<1.11
django-extensions<1.7.6
django-filter>=1.0.1,<1.1
django-redis>=4.7.0,<4.8
djangorestframework>=3.5.4,<3.6
gunicorn>=19.6.0,<19.7
ipython>=5.2.2,<5.3
opbeat>=3.5.2,<3.6
psycopg2>=2.6.2,<2.7
pylama>=7.3.3,<7.4
pytest-django>=3.1.2,<3.2
pytest>=3.0.6,<3.1
pytz==2016.10
django-dbbackup>=3.1.3,<3.2
boto3==1.5.35
